<html>
     <head>
         <meta name="viewport" content="width=device-width,initial-scale=1.0">
         <title>CPM ELECTION</title>
         
         <link rel="stylesheet" href="/soilhealth.css">
         <link rel="stylesheet" href="/overview.css">
         <link rel="stylesheet" href="/nav.css">
         <script src="/navbar.js" defer></script>
         <script src="/topbtn.js" defer></script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="/soilhealth.js" defer></script>
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <script src="https://kit.fontawesome.com/01780eab25.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap" rel="stylesheet"> 
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
         <style>
           .header{
              background-image:linear-gradient(to bottom, rgba(14, 13, 13, 0.838) 15%,transparent 90%),url(Kerala.jpg);
              height: 150px;
              background-size: cover;
            background-position: center;
              
          }
         </style>
        </head>
     <body>
      
      <div id="sidemenu2">

        <p>Support</p>
        <a href="tel:+919447140767"><i class="fa-solid fa-headset"></i> Contact Us  </a>
        <a href="mailto:gokuljithk@gmail.com"><i class="fa-solid fa-circle-info"></i> About Us </a>
      </div>
    
    <div id="myBtn2">

        <a  href="/" class="topbtn3" title="more"><i class="fa-solid fa-house"></i>  <p>Home</p></a>  
        <a  href="/profile" class="topbtn3" title="more"><i class="fa-solid fa-user"></i><p>Profile</p></a>
        <a  href="/voterlist" class="topbtn3" title="more"><i class="fa-solid fa-user-pen"></i><p>Edit</p></a>
        <a href="/soilhealth"  class="topbtn3" title="more"><i class="fa-solid fa-snowflake"></i></i><p>List</p></a>

    </div>
    <section class="header">
            
          <nav >
            
            <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            <ul id="sidemenu">
                
                <li ><a style="background: whitesmoke;border-radius: 5px;padding: 5px;"  onclick="closemenu()" style="font-size: 13px;"><i class="fa-solid fa-xmark"></i></a></li>

                    <p>General</p>
                    <li><a href="/profile"><i class="fa-solid fa-user"></i> Profile</a></li>
                    <li><a href="/"><i class="fa-solid fa-bell"></i> Notification</a></li>
                    <li><a href="/soilhealth"><i class="fa-solid fa-snowflake"></i> Voter list </a></li>
                    <li><a href="/138squad1"><i class="fa-solid fa-gear"></i> Squad 1 </a></li>
                    <li><a href="/138squad2"><i class="fa-solid fa-compass"></i> Squad 2</a></li>
                    <li><a href="/138squad3"><i class="fa-solid fa-earth-americas"></i> Squad 3 </a></li>
                    <li><a href="/138squad4"><i class="fa-solid fa-gauge"></i> Squad 4 </a></li>
                    <li><a href="/138squad5"><i class="fa-solid fa-diamond"></i> Squad 5</a></li>
                    <li><a href="/logout" class="login"><i class="fa-solid fa-right-from-bracket"></i>LogOut</a></li>
                        
                <p style="text-align: center;">Terms of Use | Privacy Policy</p>
                            
            </ul>
            
        </nav>
</section>
         <section class="overview" >
             
            <div class="row">
               <div class="overview-col">
                   <h1>NOT VOTED LIST</h1>
                   <span class="description"> Description </span>
                   <span class="overview-description">
                    Manage elections more effectively with the comprehensive voter database feature for squad 2. Explore a detailed map with every house marked for easy navigation and identification. Access and download complete voter information for each house, 
                    streamlining your election planning and execution. Enhance your election strategy with precise, location-based data for squad 2.     
                </span>
                   <div class="votestat">
                    <a  class="total-vote">Total Vote <br><h2 > <%= count %></h2></a>
                    <a  class="vote-complete">Voted <br><h2 > <%= count1 %></h2></a>
                    <a  class="vote-incomplete">Not Voted <br><h2 > <%= count2 %></h2></a>
                    <a  class="vote-favoured">Favoured <br><h2 > <%= count6 %></h2></a>
                   </div>
               </div>
                 
           </div>
            
        </div>
        
       </section>
       <section class="contact">
          
                   <gmp-map
           id="marker-click-event-example"
           center="11.8309  ,   75.4372"
           zoom="17"
           map-id="TELINSO_MAP_ID"
         >
         <% soildatas.forEach((row,index) => { %>
           <gmp-advanced-marker
             position="<%= row.coordinates %>"
             title="<%= row.housename %> "
             
             gmp-clickable
           ></gmp-advanced-marker>
           <% })  %>
           <gmp-advanced-marker
            id="current-location"
            position = "0,0"
            title="current Location"

            gmp-clickable
           ></gmp-advanced-marker>
           
         </gmp-map>
         <button class="overview-btn " ><i class="fa-solid fa-download"></i><a  id="download-link" href="/squad2notvoted/generate-pdf/totalvote">Download List</a></button>
         <div>
                <input type="text" id="myInput" onkeyup="searchData()" placeholder="&#128269; Name | House name | Serial No" title="Type in a name">
          </div>
          <div class="contact-row" >
            <table>
              <colgroup>
                  <col style="width: 20%;">
                  <col style="width: 40%;">
                  <col style="width: 40%;">
              </colgroup>
              <thead>
                  <tr>
                      <th>Sl No</th>
                      <th>Name</th>
                      <th>House name</th>
                  
                  </tr>
              </thead>
              <tbody>
                  <% soildatas.forEach((row,index) => { %>
             <tr>
             <td class="serial-search"><%= row.serialno %></td>
             <td class="name-search"><%= row.votername %></td> 
             <td class="house-search"><%= row.housename %></td>
           </tr>
         
           <% })  %>
         
              </tbody>
          </table>
              
                   </div>
            
       </section>

       <section class="footer">
          
        <div class="footer-col" style="text-align: center;" >     
         
               <p > 	&copy; Gokuljith k</p>
           
        </div>
  </section>
   <script
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn4lHzl_n5h7vQOz1jthHgTw-geOT5LIA&callback=initMap&libraries=marker&v=beta"
   defer></script>
    <script>

     const downloadLink = document.getElementById('download-link');
        downloadLink.addEventListener('click', function() {
          
        });


     
        function searchData() {
            var input = document.getElementById("myInput").value.toLowerCase();
            var rows = document.querySelectorAll("table tbody tr");
            
            rows.forEach(row => {
                var serialSearch = row.querySelector(".serial-search").textContent.toLowerCase();
                var nameSearch = row.querySelector(".name-search").textContent.toLowerCase();
                var houseSearch = row.querySelector(".house-search").textContent.toLowerCase();
                
                if (serialSearch.includes(input) || nameSearch.includes(input) || houseSearch.includes(input)) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            });
        }
    function Showmore(id){

      const showdata = document.getElementById(id);
      if (showdata.style.display === 'none') {
        showdata.style.display = 'grid';
        showdata.previousElementSibling.innerHTML="Show less <strong>&#x25B3;</strong>";
        
    } else {
        showdata.style.display = 'none';
        showdata.previousElementSibling.innerHTML="Show more <stron>&#x25BD;</strong>";
    }
   
    }
     
    
    </script>

         </body>
</html>